@model BAL.Model.BookingDTO

<div class="booking">
	@Html.Partial("_Header", "Reserve Now")
	<div class="page-body">
		Would you like to reserve room <b>@Model.Name</b>
		from <input class="start-time"/> to <input class="end-time" /> ?
	</div>
</div>

<script type="text/javascript">
	$('.start-time').pickatime();
	$('.end-time').pickatime();
</script>