@model string


<div class="app-top">
	<div class="app__menu-btn">
		<span></span>
	</div>
	<svg class="app__icon search svg-icon" viewBox="0 0 20 20">
		<path d="M20,20 15.36,15.36 a9,9 0 0,1 -12.72,-12.72 a 9,9 0 0,1 12.72,12.72" />
	</svg>
	<p class="app__hello">@Model</p>
</div>