<div class="view login">
	<div class="login-logo">
		<img src="/Content/img/outlook-icon.png" />
	</div>
	<div class="login-form">
		<div class="login-row">
			<svg class="login-icon name svg-icon" viewBox="0 0 20 20">
				<path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
			</svg>
			<input type="email" id="email" class="text-input name" placeholder="Email" />
		</div>
		<div class="login-row">
			<svg class="login-icon pass svg-icon" viewBox="0 0 20 20">
				<path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
			</svg>
			<input type="password" id="password" class="text-input pass" placeholder="Password" />
		</div>
		
		<input type="checkbox" id="cbRememberMe">
		<label class="lblRememberMe" for="cbRememberMe">Remember me</label>
		
		<br />
		<button type="button" class="button-submit">Sign in</button>
		<p class="login-error">Invalid credentials!</p>
		<p class="login-github">
			View source code on &nbsp;<a target="_blank" href="https://github.com/RolandE36/ok-booking">GitHub</a>
		</p>
	</div>
</div>