@model List<BAL.Model.Room>
@Html.Partial("_Header", "Choose your room:")
<div class="rooms-list">
	@foreach (var item in Model)
	{
		<div class="app__meeting" data-email="@item.Email">
			<img src="/Content/img/outlook-icon.png" alt="" class="app__meeting-photo" />
			<p class="app__meeting-name">@item.Name</p>
			<p class="app__meeting-info">
				<span class="app__meeting-time"><!-- --></span>
			</p>
		</div>
	}
</div>
