@{
    ViewBag.Title = "One Click Booking";
}

<div class="cont">
	<div class="window">
		<div class="view">
			@Html.Partial("_Login")
		</div>

		<nav class="menu">
			<div class="menu-content">
				<ul>
					<li onclick="ShowOffices()">Offices</li>
					<li>Find a Room</li>
					<li>Favorite Offices</li>
					<li>Favorite Rooms</li>
					<li>Active Reservations</li>
					<li onclick="ShowSettings()">Settings</li>
					<li>FAQ</li>
					<li>About us</li>
					<li>Log out</li>
				</ul>
			</div>
		</nav>
	</div>
</div>