@{
    ViewBag.Title = "Home Page";
}

<div class="cont">
	<div class="window">
		<div class="view active login">
			@Html.Partial("_Login")
		</div>
		<!--<div class="view app">
		

			<div class="app__bot" style="display: none;">
				<div class="app__days">
					<div class="app__day weekday">Sun</div>
					<div class="app__day weekday">Mon</div>
					<div class="app__day weekday">Tue</div>
					<div class="app__day weekday">Wed</div>
					<div class="app__day weekday">Thu</div>
					<div class="app__day weekday">Fri</div>
					<div class="app__day weekday">Sad</div>
					<div class="app__day date">8</div>
					<div class="app__day date">9</div>
					<div class="app__day date">10</div>
					<div class="app__day date">11</div>
					<div class="app__day date">12</div>
					<div class="app__day date">13</div>
					<div class="app__day date">14</div>
				</div>

				<div class="app__meetings">
					<div class="app__meeting">
						<img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-80_5.jpg" alt="" class="app__meeting-photo"/>
						<p class="app__meeting-name">Feed the cat</p>
						<p class="app__meeting-info">
							<span class="app__meeting-time">8 - 10am</span>
							<span class="app__meeting-place">Real-life</span>
						</p>
					</div>
					<div class="app__meeting">
						<img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="app__meeting-photo"/>
						<p class="app__meeting-name">Feed the cat!</p>
						<p class="app__meeting-info">
							<span class="app__meeting-time">1 - 3pm</span>
							<span class="app__meeting-place">Real-life</span>
						</p>
					</div>
					<div class="app__meeting">
						<img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="app__meeting-photo"/>
						<p class="app__meeting-name">FEED THIS CAT ALREADY!!!</p>
						<p class="app__meeting-info">
							<span class="app__meeting-time">This button is just for demo ></span>
						</p>
					</div>
				</div>
			</div>
			<div class="app__logout">
				<svg class="app__logout-icon svg-icon" viewBox="0 0 20 20">
					<path d="M6,3 a8,8 0 1,0 8,0 M10,0 10,12"/>
				</svg>
			</div>
		</div>-->
	</div>
</div>
